<p-dialog
  [modal]="true"
  [(visible)]="createNewGroup"
  [breakpoints]="{ '960px': '50vw', '640px': '75vw' }"
  [style]="{ width: '55vw' }"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="false"
>
  <div class="modal-content modalpayment">
    <div class="modal-header">
      <h5 class="modal-title">Create a Contact List</h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="closeModal()"
      >
        <img src="assets/close.png" alt="" />
      </button>
    </div>
    <app-create-new-contact-list
      (closeModal)="closeModal()"
    ></app-create-new-contact-list>
  </div>
</p-dialog>
